<div class="container">
    <div>
        <h1>SERVICIO 1: Visualización Gráfica de Ingresos y Egresos.</h1>
        <h2>Gráfica de {{charType}} de MEDIA de Ingresos y Egresos 2016</h2>
    </div>
    <div class="row justify-content-between">
        <canvas id='canvas' style="width: 90% !important"> {{chart}} </canvas>
    </div>
    <div *ngIf="chart" class="row">
        <button (click)="changeTypeChart('bar');" class="btn btn-outline-primary">
      Visualizar como Barras
    </button>
        <button (click)="changeTypeChart('line');" class="btn btn-outline-primary">
      Visualizar como lineas
    </button>

    </div>
</div>