<!-- Start Header Area -->
<!-- <header class="default-header">
</header> -->
<header class="default-header">
    <div>
        <nav style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" [routerLink]="['/']">Bank Challenge</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
            <a class="navbar-brand" [routerLink]="['/']">
                <img src="assets/shared/img/A-64.png" width="30" height="30" alt="">
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" [routerLink]="['/']">Home</a>
                    </li>
                    <li *ngIf="logIn" class="nav-item" routerLinkActive="active">
                        <a class="nav-link" [routerLink]="['/dashboard']">Dashboard</a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" [routerLink]="['/about']">About</a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" [routerLink]="['/about']">Report</a>
                    </li>
                </ul>
                <div style="background-color: #fff; border-radius:7px;">
                    <span *ngIf="!logIn">
            <a class="nav-link" [routerLink]="['/login']">Inicia Sesión</a>
          </span>
                    <div *ngIf="identity" (click)="logout()" class="login">
                        <span> {{identity.name}}</span>
                        <img class="login-space" [src]="identity.image" alt="">
                    </div>
                </div>
            </div>
        </nav>

    </div>
</header>