<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<section class="section-gap skill-area" style="z-index:9999;">
    <app-chart-component1 *ngIf="filtersLoaded | async" [data]="dataChart"></app-chart-component1>
</section>

<section class="section-gap skill-area" style="z-index:9999;">

    <app-chart-media-movil></app-chart-media-movil>
</section>