<section class="section-gap skill-area" style="z-index:9999;">
    <div class="container">
        <div class="row justify-content-between">
            <div class="row fullscreen align-items-center justify-content-between">

                <div class="col-lg-5">
                    <div class="skill-content">
                        <h2>SOBRE MI</h2>
                        <p class="mb-30">Ingeniero Informático con 5 años de experiencia, me he desempeñado como Data Engineer en el sector de salud privada, especializado en Big Data & BI. Busco desempeñarme en proyectos innovadores que permitan poner a prueba mis conocimientos,
                            habilidades y compartir mis experiencias con el fin de potenciar el resultado de los objetivos propuesto. Tengo capacidades de análisis y programación muy enfocado a trabajar por objetivos. Mi personalidad optimista y activa
                            me caracteriza al igual que el apetito de aprender para mejorar como profesional y persona.</p>
                        <img src="assets/profile_picture.jpg " alt="programando" style="width:800px;">
                        <a href="https://www.linkedin.com/in/jos%C3%A9-y%C3%A1%C3%B1ez-zaraza/" class="primary-btn">Ver más<span
                class="lnr lnr-arrow-right"></span></a>

                    </div>
                </div>

            </div>

        </div>
    </div>
</section>