<!-- Start Skill Area -->
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<section class="section-gap skill-area" style="z-index:9999;">
    <div class="container">
        <!-- style="background: url(assets/shared/img/landing2.png) no-repeat center center/cover;" -->
        <div class="row justify-content-between">
            <div class="col-md-5">
                <div class="skill-content">
                    <h2>Pensamos en ser súper en la banca</h2>
                    <p class="mb-30">En el mundo de la banca muchos tienen súper poderes, pero no todos los ocupan de la mejor forma.
                    </p>
                    <p>Nosotros queremos apoyarte a cumplir tus sueños, dandóte poderes también.</p>
                    <img src="assets/shared/img/landing2.png" alt="programando" style="width:300px;">
                </div>
            </div>
            <div class="col-md-6">
                <div class="total-progress-bar">
                    <p>Poder de ahorro</p>
                    <div class="single-progressbar mb-20">
                        <div class="progress-bar" role="progressbar" style="width: 90%; background: #1ea896;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div> 100%
                    </div>
                    <p>Poder de Financiación de tus sueños</p>
                    <div class="single-progressbar mb-20">
                        <div class="progress-bar" role="progressbar" style="width: 90%; background: #0094ff;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div> 100%
                    </div>
                    <p>Poder hipotecarío</p>
                    <div class="single-progressbar mb-20">
                        <div class="progress-bar" role="progressbar" style="width: 90%; background: #523f86;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div> 100%
                    </div>
                    <p>Poder de dejar de soñar y comenzar a crear</p>
                    <div class="single-progressbar mb-20">
                        <div class="progress-bar" role="progressbar" style="width: 90%; background: #ff2100;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div> 100%
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<section class="skill-area mt-5">
    <div class="container mt-5" style="padding: 10px;">
        <i style=" color:#111 !important;">
      "Mientras puedes, ahorra para la vejez y la necesidad, porque el sol de la mañana no dura todo el día. Quien
      compra lo superfluo no tardará en verse obligado a vender lo necesario. Si sabes gastar menos de lo que ganas,
      has encontrado la piedra filosofal.
      Un saco vacío se mantiene muy difícilmente en pie." (Benjamin Franklin)
    </i>
    </div>
</section>


<section class="section-gap">
    <div class="mat-app-background basic-container">
        <div class="text-center skill-area" style="padding: 10px; ">
            <h1 style="text-decoration: underline;font-style:italic;">Nuestros Clientes</h1>
        </div>
    </div>
    <div class="skill-area">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div *ngFor="let user of users; let i = index;" class="carousel-item" [ngClass]="{'active' : i == 0}">
                    <app-client-card [user]="user"></app-client-card>
                </div>
            </div>
        </div>

    </div>
</section>