<footer class="section-gap footer-widget-area">
    <!-- <div class="overlay overlay-bg"></div> -->
    <div class="container">

        <div class="footer-bottom d-flex justify-content-center align-items-center flex-wrap">
            <p> </p>
            <p> </p>
            <p> </p>
            <div class="texto">
                <p class="footer-text m-0">Copyright &copy; 2018 All rights reserved |Yañez@ZarazaDesign <i class="fa fa-heart-o" aria-hidden="true"></i></p>

            </div>
        </div>
    </div>
</footer>