<div class="container" style="background-color: #ffffff; border-radius: 5px;">
    <div class="row align-items-center" style="padding: 50px;">
        <div class="col-md-4 text-center">
            <div class="studio-thumb">
                <img [src]="user.image" class="img-fluid" alt="{{user.name}}">
            </div>
        </div>
        <div class="col-md-5">
            <div class="studio-content">
                <h2>{{ user.name }}</h2>
                <p>{{ user.bio }} </p>
            </div>
        </div>
    </div>
</div>