<section class="section-gap skill-area" style="z-index:9999;">
    <div class="container">
        <h1>SERVICIO 2: Cálculo Media Móvil de Flujo de Caja Neto.</h1>
        <div class="text-center">
            <h2>Gráfico de Línea de Media Móvil</h2>
        </div>

        <div class="row justify-content-between">
            <canvas style="width: 90%; !important" id='canvasLine'> {{chartMedia}} </canvas>
        </div>
        <hr>
        <div class="text-center">
            <h2>Gráfico Mixto de barras y Línea del Flujo de Caja</h2>
        </div>
        <div class="row justify-content-between">
            <canvas style="width: 90%; !important" id='canvas'> {{chart}} </canvas>
        </div>
        <div class="row">

        </div>
    </div>
</section>